*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body 
{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    background-color: grey;
}
.container 
{
    
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:30rem;
    align-items: center;
    border-radius:15px ;
    background-color:floralwhite
   

}

.display 
{
    width:20rem;
    height:6rem;
    border-radius: 8px;
    background-color:rgb(0, 0, 0);
    opacity: .95;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.delete-container 
{

    display: flex;
    gap: 40px;

}
.delete-container button
{
    width:130px;
    height:60px;
    border-radius: 8px;
    font-size: 20px;
    background-color:salmon;
    color: whitesmoke;
    transition: all .1s cubic-bezier(0.05,-1.68, 0.74, 3.41) ;
}
.delete-container button:hover 
{
    background: none !important;
    color: salmon;
    border: solid 1.5px salmon;
    
}
.delete-container button:active
{
    scale: 1.02;

} 

.first button 
{
    width:70px;
    height:50px;
    border-radius: 8px;
    ;
}
.sec button 
{
    width:70px;
    height:50px;
    border-radius: 8px;
}

.third button 
{
    width:70px;
    height:50px;
    border-radius: 8px;
}

.four button 
{
    width:70px;
    height:50px;
    border-radius: 8px;
}

button 
{
    border: none;
    cursor: pointer;

    
}

.operator
{
    background-color:royalblue;
    font-size: 18px;
    color: white;
    transition: all .1s cubic-bezier(0.05,-1.68, 0.74, 3.41);
}

.operator:hover 
{
    background-color: white;
    color: royalblue;
    transform: scale(1);
    border: solid .5px royalblue;
    
}

.operator:active
{
    transform: scale(.95);
}


.number,.equal
{
   font-weight: 500;
   font-size: 20px;
   transition: all .1s cubic-bezier(0.05,-1.68, 0.74, 3.41);
}

.number:hover,.equal:hover
{
    background-color:salmon;
    color: white;

}
.number:active,.equal:active
{
    transform: scale(.95);
    
}


.type 
{
    
    margin-top: 15px;
    margin-right: 10px;
    
}

.result
{
   
    margin-bottom: 15px;
    margin-right: 10px;
}